__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
test.db
.idea/
.vscode/
*.docx
*.xlsm
*.png
*.webp
node_modules/
.DS_Store
.env
